.main {
    padding: 3rem 1.5rem;
}

.hidden-output {
    display: none;
}

.token-output {
    height: auto;
    font-weight: 600;
}

.token-output-header {
    color: #fb015b;
}

.token-output-payload {
    color: #d63aff;
}

.token-output-signature {
    color: #00b9f1;
}