<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/img/favicon-32x32.png" width="32" height="32" class="d-inline-block align-top" alt="">
        JSON Web Tokens - Tools
    </a>
</nav>