<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">
            <img src="/img/favicon-32x32.png" width="32" height="32" class="d-inline-block align-top" alt="">
            JSON Web Tokens - Tools
        </a>
    </div>
</nav>